@use 'sass:color';
@use 'lib/menu';

$menuBtnWidth: 40px;
$menuBtnHeight: 120px;
$navBarWidth: 250px;

@mixin navBar(
	$menuBtnVisible,
	$navBarVisible,
	$navBarBgCol: rgb(50, 50, 50),
	$textCol: rgb(255, 255, 255, 1),
) {
	#menuToggleBtn {
		position: fixed;

		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;

		z-index: 3;

		width: $menuBtnWidth;
		height: $menuBtnHeight;
		transform: translateX(calc(#{$menuBtnWidth} * (-1 + #{$menuBtnVisible})));

		border-radius: 0px 0px calc(5px * (1 - #{$navBarVisible})) 0px;

		color: color.scale($textCol, $red: -60%, $green: -60%, $blue: -60%);
		fill: color.scale($textCol, $red: -60%, $green: -60%, $blue: -60%);
		background-color: $navBarBgCol;

		transition: transform .5s ease-out, border-radius .5s ease-out;

		.svgMenuIcon {
			@include menu.menuIcon(16px, $navBarVisible, .5s);
		}

		>p {
			margin-top: 10px;

			font-weight: bold;
			writing-mode: vertical-lr;
			text-orientation: upright;

			letter-spacing: 2px;
		}

		&:hover {
			color: $textCol;
			fill: $textCol;
		}
	}

	#navBar {
		* {
			font-weight: bold;
		}

		position: fixed;

		color: $textCol;
		background-color: $navBarBgCol;

		>#titleBox {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;

			height: $menuBtnHeight;
			width: 100%;
			padding-left: calc(#{$menuBtnVisible} * #{$menuBtnWidth});
			transition: padding-left .5s ease-out;

			color: inherit;
			background-color: color.scale($navBarBgCol, $lightness: -50%);
			font-size: 2rem;

			>img {
				width: calc(100% - 50px);
			}
		}

		>nav {
			width: 100%;
			height: calc(100% - #{$menuBtnHeight});

			display: flex;
			flex-flow: column nowrap;
			overflow: scroll;

			background-color: inherit;

			>button {
				width: 100%;
				min-height: 50px;

				text-align: center;
				color: inherit;
				background-color: transparent;

				&:hover {
					background-color: color.scale($navBarBgCol, $lightness: 10%);
				}

				&.navSelected {
					background-color: rgba(100, 150, 230, 1);
				}
			}
		}
	}
}
