---
layout: default
title: Sort Algorithms
---

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/sortAlgorithms.css" type="text/css">
</head>

<body>
	<h1 class="mainTitle"><a href="/">{{ page.title }}</a></h1>

	<nav>
		{% for item in site.data.links.navLinks %}
			<a class="navItem" href="{{ item.link }}">{{ item.name }}</a>
		{% endfor %}
	</nav>

	{% include footer.html %}
</body>
