@mixin columnFlex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

%columnFlex {
    @include columnFlex;
}

@mixin columnFlexItem {
    width: 100%;
    text-align:center;
}

%columnFlexItem {
    @include columnFlexItem;
}
