body {
	display: grid;
	grid-template-rows: 136px auto 150px;
	background-color: black;
}

p {
	text-align: justify;
	letter-spacing: 0px;
	word-spacing: -1px;
}

header {
	width: 100%;
	display:grid;
	grid-template-rows: auto 50px;
	background-image: linear-gradient(black, rgb(40, 40, 40));
}

header h1 a:hover {
	color: white;
}

header a {
	border-top-right-radius: 1px;
	border-top-left-radius: 1px;
}

header h1 {
	width: 100%;
	padding-top: 50px;
	line-height: 36px;
	font-size: 36px;
	text-align: center;
	color: rgb(150, 150, 150);
}

nav {
	@extend %rowFlex;
}

a.navItem:hover {
	color: black;
	background-color: rgb(240, 240, 240);
}

a.navItem {
	@extend %rowFlexItem;
	font-size: 16px;
	line-height: 20px;
	padding: 15px 10px;
	color: rgb(180, 180, 180);
}

a.navItemSelected {
	color: white;
}

.content {
	padding: 30px 50px;
	background-color: rgb(240, 240, 240);
}

.content h1 {
	font-size: 18px;
	padding-bottom: 0px;
	border-bottom: 1px solid black;
	color: rgb(50, 50, 50);
}

.content p {
	padding-top: 5px;
	font-size: 14px;
	line-height: 18px;
	font-family: Helvetica;
}

footer {
	height: 150px;
	padding-top: 50px;
	color: rgb(100, 100, 100);
	background-image: linear-gradient(rgb(40, 40, 40), black);
	text-align: center;
}

footer p {
	font-size: 12px;
	text-align: center;
}

@media only screen and (min-width: 800px) {
body {
	grid-template-columns: 300px auto;
	grid-template-rows: auto 150px;
	justify-content: center;
}

header {
	grid-template-rows: 100px auto;
	background-image: linear-gradient(to right, black, rgb(40, 40, 40));
}

header h1 {
	height: 100px;
	padding-bottom: 32px;
}

nav {
	@include columnFlex;
}

a.navItem {
	@include columnFlexItem;
	padding-left: 50px;
	text-align: left;
}

.content {
	max-width: 700px;
	grid-column: 2;
	grid-row: 1 / span 2;
}

footer {
	background-image: linear-gradient(to right, black, rgb(40, 40, 40));
}

}
