---
---

@import 'reset';

$menuBtnWidth: 40px;
$menuBtnHeight: 120px;
$navBarWidth: 250px;
$navBarBorderSize: 5px;
$navBarFullWidth: $navBarWidth + $navBarBorderSize;

$bodyBgCol: rgb(255, 255, 252);
$menuBtnCol: rgb(100, 100, 100);
$navBarTitleBgCol: rgb(20, 20, 20);
$navBarCol: rgb(50, 50, 50);
$navBarHoverCol: rgb(80, 80, 80);
$navBarSelectedCol: rgb(100, 150, 230);

%centerRow {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

%centerColumn {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

body {
	--headerActive: 0;
	background-color: $bodyBgCol;
}

#navBar {
	* {
		font-weight: bold;
	}

	> * {
		position: fixed;
	}

	> button {
		@extend %centerColumn;

		z-index: 3;

		width: $menuBtnWidth;
		height: $menuBtnHeight;

		border-radius: 0px 0px calc(5px - (var(--headerActive) * 5px)) 0px;

		color: $menuBtnCol;
		background-color: $navBarCol;

		transition: margin .5s ease-out, border-radius .5s ease-out;

		> img {
			height: 20px;
			margin-bottom: 10px;
		}

		> p {
			writing-mode: vertical-lr;
			text-orientation: upright;

			letter-spacing: 2px;
		}

		&:hover { color: $bodyBgCol; }
	}

	> header {
		z-index: 2;

		height: 100%;
		width: $navBarWidth;
		margin-left: calc(-#{$navBarFullWidth} + (var(--headerActive) * #{$navBarFullWidth}));
		border-right: $navBarBorderSize solid $navBarSelectedCol;

		color: $bodyBgCol;
		transition: margin .5s ease-out;

		> div {
			@extend %centerColumn;

			height: $menuBtnHeight;
			padding-left: $menuBtnWidth;
			transition: padding .5s;

			background-color: $navBarTitleBgCol;

			> img {
				width: 22px;
			}

			> p {
				font-size: 2rem;
			}
		}

		> nav {
			width: 100%;
			height: 100%;

			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			overflow: scroll;

			background-color: $navBarCol;

			> a {
				width: 100%;

				text-align: center;
				line-height: 50px;

				&:hover {
					background-color: $navBarHoverCol;
				}

				&#navSelected {
					background-color: $navBarSelectedCol;
				}
			}
		}
	}
}

#mainContent {
	z-index: 1;

	box-sizing: border-box;
	width: 100%;
	max-width: 600px;
	padding: 30px 30px 60px ($menuBtnWidth + 10px);

	filter: blur(calc(var(--headerActive) * 3px));
	transition: margin .5s ease-out, filter .5s ease-out;
}

@media only screen and (min-width: 850px) {
	body {
		--headerActive: 1;
	}

	#navBar {
		button {
			margin-left: -$menuBtnWidth;
		}

		>header >div {
			padding-left: 0px;
		}
	}

	#mainContent {
		margin-left: #{$navBarFullWidth};
		filter: none;
	}
}

// * {
	// font-size: 0px;
// }
