<!DOCTYPE html>

<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="css/index.css" type="text/css">
    </head>

    <body>
        <header>
            <h1><a href="index.html">Cradmon</a></h1>
            <nav>
                <a href="html/C++.html">C++</a>
                <a href="html/C++.html">C++</a>
            </nav>
        </header>

        {{ content }}
    </body>
</html>
